@use "../abs/colors";
@use "../abs/breakpoints" as b;
@use "./structure";
@use "../abs/fonts";
@use "../abs/spaces";

.footer {
  font-size: map-get(fonts.$font-size, "tiny");
  background-color: colors.$color-grey-dark-3;
  color: colors.$color-grey-light-1;
  padding-top: map-get(spaces.$spaces, "x-large");
  padding-bottom: map-get(spaces.$spaces, "x-large");

  &__logo-container {
    text-align: center;
  }

  &__logo {
    display: inline-block;
    width: 15rem;
  }

  &__body {
    @include structure.grid;
    justify-content: center;
    margin-inline: auto;
    margin-top: 8rem;

    @include b.breakpoint-down(medium) {
      margin-top: 5rem;
    }
  }

  &__navigation {
    width: 50%;

    @include b.breakpoint-down(large) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
    border-top: 1px solid colors.$color-grey-dark;
    padding-top: 2rem;
    display: inline-block;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: colors.$color-grey-light-1;
      background-color: colors.$color-grey-dark-3;
      display: inline-block;
      text-transform: uppercase;
      transition: all 200ms;
    }

    &:hover,
    &:active {
      color: colors.$color-primary;
      box-shadow: 0 1rem 2rem rgba(colors.$color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }

    &--main:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__copyright {
    width: 38%;
    border-top: 1px solid colors.$color-grey-dark;
    padding-top: 2rem;
    display: inline-block;

    @include b.breakpoint-down(large) {
      width: 100%;
    }

    &-text {
      width: 90%;

      @include b.breakpoint-down(medium) {
        width: 100%;
      }
    }
  }
}
