@use "../abs/colors" as *;
@use "../abs/fonts" as *;
@use "../abs/functions" as *;
@use "../abs/breakpoints" as *;
@use "../base/animations";

.header {
  min-height: 95vh;
  background: linear-gradient(
      rgba($color-primary, 0.4),
      rgba($color-primary-dark, 0.4)
    ),
    url("../img/header/hero-image.jpg") top / cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint-up(xlarge) {
    background: linear-gradient(
        rgba($color-primary, 0.4),
        rgba($color-primary-dark, 0.4)
      ),
      url("../img/header/hero-image-large.jpg") top / cover;
  }

  @include breakpoint-down(medium) {
    background: linear-gradient(
        rgba($color-primary, 0.4),
        rgba($color-primary-dark, 0.4)
      ),
      url("../img/header/hero-image-small.jpg") top / cover;
  }

  @include breakpoint-down(small) {
    min-height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }

  &__logo-container {
    position: absolute;
    top: pxToRem(40px);
    left: pxToRem(40px);

    @include breakpoint-down(small) {
      top: pxToRem(32px);
      left: pxToRem(32px);
    }
  }

  &__logo {
    height: pxToRem(35px);

    @include breakpoint-down(small) {
      height: pxToRem(28px);
    }
  }

  &__content {
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    position: relative;
    bottom: pxToRem(86px);

    @include breakpoint-down(small) {
      bottom: pxToRem(20px);
    }
  }

  &__primary--main,
  &__primary--sub {
    display: block;
  }

  &__primary--main {
    letter-spacing: pxToRem(35px);
    margin-right: pxToRem(-35px);
    animation: toRightLeft 1s;

    @include breakpoint-down(small) {
      letter-spacing: pxToRem(5px);
      margin-right: pxToRem(5px);
    }
  }

  &__primary--sub {
    font-size: map-get($font-size, "normal");
    font-weight: map-get($font-weight, "bold");
    letter-spacing: pxToRem(15px);
    margin-right: pxToRem(-15px);
    animation: toLeftRight 1s;

    @include breakpoint-up(xlarge) {
      font-size: map-get($font-size, "medium");
    }

    @include breakpoint-down(small) {
      font-size: map-get($font-size, "small");
      letter-spacing: normal;
      margin-right: 0;
    }
  }
}
