@use "../abs/colors" as *;
@use "../abs/spaces" as *;
@use "../abs/functions" as *;
@use "../abs/breakpoints" as *;

body {
  padding: map-get($spaces, "medium");
  background-color: $color-grey-light-1;

  @include breakpoint-down(medium) {
    padding: 0rem;
  }
}

@mixin grid {
  display: flex;
  max-width: pxToRem(1140px);
  gap: map-get($spaces, "large");

  @include breakpoint-down(medium) {
    max-width: pxToRem(500px);
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  @include breakpoint-down(small) {
    width: 90%;
  }
}

section {
  padding-block: map-get($spaces, "x-large");
}
