@use "../abs/colors";
@use "../abs/breakpoints" as b;
@use "../abs/spaces";

body {
  padding: map-get(spaces.$spaces, "medium");
  background-color: colors.$color-grey-light-1;

  @include b.breakpoint-down(medium) {
    padding: 0rem;
  }
}

@mixin grid {
  display: flex;
  max-width: 114rem;
  gap: map-get(spaces.$spaces, "large");

  @include b.breakpoint-down(medium) {
    max-width: 50rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  @include b.breakpoint-down(small) {
    width: 90%;
  }
}

section {
  padding-top: map-get(spaces.$spaces, "x-large");
  padding-bottom: map-get(spaces.$spaces, "x-large");
}
