$font-stack: "Lato", sans-serif;

$font-weight: (
  "hairline": 100,
  "thin": 300,
  "regular": 400,
  "semibold": 600,
  "bold": 700,
);

$font-size: (
  "x-large": 6rem,
  "large": 3.5rem,
  "medium": 2.8rem,
  "default": 1.6rem,
  "small": 1.5rem,
  "tiny": 1.4rem,
);
