@use "./functions" as *;

$font-stack: "Lato", sans-serif;

$font-weight: (
  "hairline": 100,
  "thin": 300,
  "regular": 400,
  "semibold": 600,
  "bold": 700,
);

$font-size: (
  "xx-large": pxToRem(72px),
  "x-large": pxToRem(60px),
  "large": pxToRem(54px),
  "s-large": pxToRem(44px),
  "xx-medium": pxToRem(36px),
  "medium": pxToRem(28px),
  "normal": pxToRem(18px),
  "small": pxToRem(16px),
  "tiny": pxToRem(14px),
);
