@use "../abs/z-index" as *;

.bg__video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: map-get($z-index-values, "behind-elements");
  opacity: 0.15;
}

.bg__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
