@use "../abs/colors" as *;
@use "../abs/fonts" as *;
@use "../abs/spaces" as *;
@use "../abs/shadows" as *;
@use "../abs/breakpoints" as *;
@use "../layout/structure" as *;

.benefits-section {
  background: linear-gradient(
      to right,
      rgba($color-primary, 0.6),
      rgba($color-primary-dark, 0.6)
    ),
    url("../img/benefits/benefits-bg.jpg") top/ cover;
  transform: skewY(-7deg);

  > * {
    transform: skewY(7deg);
  }
}

.box-container {
  @include grid;
  margin-inline: auto;
  justify-content: center;
  margin-top: map-get($spaces, "x-large");
  margin-bottom: map-get($spaces, "x-large");

  @include breakpoint-down(large) {
    width: 100%;
    gap: 3rem;
  }

  @include breakpoint-down(small) {
    padding-left: map-get($spaces, "medium");
    padding-right: map-get($spaces, "medium");
  }
}

.box {
  width: 25%;
  background-color: rgba($color-white, 0.9);
  text-align: center;
  border-radius: 3px;

  padding: 2.5rem;
  box-shadow: map-get($shadows, "subtle");
  transition: all 400ms;

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: map-get($shadows, "default");
  }

  @include breakpoint-down(large) {
    max-width: 18.5rem;
  }

  @include breakpoint-down(medium) {
    width: 100%;
    max-width: none;
  }

  &__icon {
    display: block;
    font-size: map-get($font-size, "x-large");
    background: linear-gradient(
      to right,
      rgba($color-primary, 0.8),
      rgba($color-primary-dark, 0.8)
    );
    color: transparent;
    background-clip: text;
  }

  &__title {
    text-transform: uppercase;
  }

  &__paragraph {
    font-size: map-get($font-size, "small");
  }
}
