@use "../abs/colors" as *;
@use "../abs/fonts" as *;
@use "../abs/functions" as *;
@use "../abs/shadows" as *;
@use "../abs/breakpoints" as *;
@use "../layout/structure" as *;

.card-container {
  @include grid;
  margin-inline: auto;
}

.card {
  min-height: pxToRem(540px);
  width: 33.33%;
  perspective: 1500px;
  position: relative;

  //Rotation functionality
  &__side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: map-get($shadows, "subtle");
    border-radius: 3px;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 800ms;

    &--back {
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  //Front Styling
  &__image {
    min-height: pxToRem(230px);
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url("../img/tours/tours-the-sea-explorer.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url("../img/tours/tours-the-forest-hiker.jpg");
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url("../img/tours/tours-the-snow-adventurer.jpg");
    }
  }

  &__title {
    font-size: map-get($font-size, "medium");
    font-weight: map-get($font-weight, "thin");
    text-transform: uppercase;
    color: $color-white;
    text-align: right;
    width: 75%;
    position: absolute;
    top: pxToRem(120px);
    right: pxToRem(20px);

    &-span {
      padding: pxToRem(10px) pxToRem(15px);
      box-decoration-break: clone;

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.85),
          rgba($color-secondary-dark, 0.85)
        );
      }

      &--2 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.85),
          rgba($color-primary-dark, 0.85)
        );
      }

      &--3 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 0.85),
          rgba($color-tertiary-dark, 0.85)
        );
      }
    }
  }

  &__details {
    padding: pxToRem(30px);
  }

  &__list {
    list-style: none;
    width: 80%;
    margin-inline: auto;
  }

  &__item {
    padding: pxToRem(10px);
    text-align: center;

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light-2;
    }
  }

  //Back Styling
  &__back-container {
    height: 100%;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__side--back {
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__only {
    font-size: map-get($font-size, "tiny");
    text-transform: uppercase;
  }

  &__price {
    font-size: map-get($font-size, "x-large");
    font-weight: map-get($font-weight, "hairline");
    margin-bottom: pxToRem(30px);
  }

  @include breakpoint-down(medium) {
    width: 100%;
    background-color: $color-white;

    &__side {
      position: static;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__back-container {
      margin: pxToRem(70px);
    }
  }
}
