@use "../abs/colors" as *;
@use "../abs/spaces" as *;
@use "../abs/shadows" as *;
@use "../abs/breakpoints" as *;
@use "../abs/z-index" as *;
@use "../layout/structure" as *;

.composition {
  @include grid;

  //Text block
  &__text-container {
    width: 50%;

    p {
      &:not(:last-child) {
        margin-bottom: map-get($spaces, "medium");
      }
    }

    @include breakpoint-down(medium) {
      width: 100%;
    }
  }

  //Image block
  &__images-container {
    width: 50%;
    position: relative;

    @include breakpoint-down(medium) {
      width: 100%;
      display: flex;
    }
  }

  //images
  &__image {
    width: 55%;
    box-shadow: map-get($shadows, "default");
    border-radius: 2px;
    outline-offset: 2rem;
    position: absolute;
    transition: all 200ms;

    @include breakpoint-down(medium) {
      position: relative;
      width: 33.33%;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 40rem rgba($color-black, 0.5);
      z-index: map-get($z-index-values, "animation-elements");
    }

    &:not(:hover) {
      transform: scale(0.95);
    }

    //Specific Images
    &--1 {
      left: 0;
      top: -2rem;

      @include breakpoint-down(medium) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--2 {
      right: 0;
      top: 2rem;

      @include breakpoint-down(medium) {
        top: -1rem;
        transform: scale(1.3);
      }
    }

    &--3 {
      left: 20%;
      top: 10rem;

      @include breakpoint-down(medium) {
        top: 0;
        left: 0;
        transform: scale(1.1);
      }
    }
  }
}
