@use "../abs/breakpoints" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  display: block;
}

a,
a:active,
a:visited,
a:link {
  display: inline-block;
  text-decoration: none;
}
