@use "../abs/colors" as *;
@use "../abs/fonts" as *;
@use "../abs/spaces" as *;

body {
  font-size: map-get($font-size, "default");
  font-family: $font-stack;
  font-weight: map-get($font-weight, "regular");
  color: $color-grey-dark;
  line-height: 1.7;
}

h1 {
  font-size: map-get($font-size, "x-large");
  font-weight: map-get($font-weight, "regular");
  margin-bottom: map-get($spaces, "large");
}

h2 {
  font-size: map-get($font-size, "large");
  font-weight: map-get($font-weight, "bold");
}

h3 {
  font-size: map-get($font-size, "default");
  font-weight: map-get($font-weight, "bold");
  color: $color-grey-dark;
  margin-bottom: map-get($spaces, "small");
}
