@use "../base";
@use "../utils/utils";
@use "../abs/colors";
@use "../layout/structure";
@use "../layout/navigation";
@use "../layout/header";
@use "../components/buttons";
@use "../components/headers";
@use "../components/composition";
@use "../components/box";
@use "../components/card";
@use "../components/testimonial";
@use "../components/form";
@use "../components/bg-video";
@use "../components/popup";

.benefits-section {
  background: linear-gradient(
      to right,
      rgba(colors.$color-primary, 0.6),
      rgba(colors.$color-primary-dark, 0.6)
    ),
    url("../img/benefits/benefits-bg.jpg") top/ cover;
  transform: skewY(-7deg);

  > * {
    transform: skewY(7deg);
  }
}
