@use "../abs/functions" as *;

.u-text-center {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: pxToRem(15px) !important;
}

.u-margin-bottom-medium {
  margin-bottom: pxToRem(40px) !important;
}

.u-margin-bottom-xl {
  margin-bottom: pxToRem(80px) !important;
}
